/*Colors*/
$white: #fff;
$black: #000;

$gray: #848995;
$gray2: #595B6F;
$gray3: #E4E6EB;

$red: #DA2E2E;
$hover: #CA2727;

$bg: #131D3D;
$bg2: #F9F9FB;

$blue: #2E54DA;

/*Styles*/
$font-family: 'Inter', sans-serif;